{% extends "base.html" %}
{% block content %}
<main class="main_content">
    <h1><b>Edit This Workout</b></h1>

    <div>
        <form action="/workouts/{{index}}" method="POST">
            {% for row in workout %}
            <div class = "edit_to_row">
                <!-- exercise_name, num_sets, num_reps, weights, workout_group, workout_num, workout_varient = "Normal" -->
                <ul>
                    <li class="workout_exercise_name">{{loop.index}}. {{ row.exercise_name }}</li>
                    <div class="buttons_row">
                        <div class = "workout_key">
                            <ul>
                                <li>Sets</li>
                                <li>Reps</li>
                            </ul>
                        </div>


                        <!-- <div class = "workout_key">
                            <ul>
                                <li>reps</li>
                                <li>[kg]</li>
                            </ul>
                        </div> -->
                        <div class="workout_entries">
                            <li>
                                <label for="num_sets"></label>
                                <input type="number" id="num_sets" name="num_sets_{{row.id}}" value="{{row.num_sets}}" max="10"
                                    required>
                            </li>
                            <li>
                                <label for="num_reps"></label>
                                <input type="number" id="num_reps" name="num_reps_{{row.id}}" value="{{row.num_reps}}" required>

                            </li>
            
                        </div>

                    
                    </div>

                    </li>
                </ul>
            </div>
            {% endfor %}


            <button class="edit_workout_button" type="submit"><i class="fa-solid fa-floppy-disk fa-3x" style="color:#F5B718"></i></i><br>Submit Edit</button>
        </form>


        {% endblock %}