

.workout_loop{
    margin-bottom: 90px;
}
#workout-submit-form1 {
    margin-bottom: 90px;
}

.main_content > h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.nav-elements-parent {
    width:100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: auto;
    align-self: flex-end;
}

.nav-elements-parent > li {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    padding: 15px;
    margin: 0;

}

.nav-elements-parent > li > a {
    text-decoration: none;
    color: white;
}

.sidebar2 {
    display: flex;

}



.sidebar {
    display: block;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #167A41;
    height: 78px;
}


body {
    background-color: black;
    color: white;
    
    

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.workout {
    margin-left: 5%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #F5B718;
    border-radius: 60px;
    
}

.workout div ul {
    margin-left: 40px;
    font-size: 20px;
}

.main_content h1 {
    margin-top: 3%;
    font-size: 20px;
}

.workout a {
    margin-top: 20px;
    font-size: 16px;
}

.clickable_workout {
    text-decoration: none;
    color: white;
}



#workout-detail {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#edit_button {
    background-color: black;
    color: white;
    font-size: 12px;
    border-style: none;
}
#new_button {
    background-color: black;
    color: white;
    font-size: 12px;
    border-style: none;
}



.workout_entries {
    display:flex;
    margin-left: 2%;
    margin-top: 10px;
    border-style: solid;
    border-color: #F5B718;
    border-radius: 100px;
    background-color: black;
    padding: 10px;
}



.buttons_row {
    display: flex;
    flex-direction: row;
    margin: 15px;
    row-gap: 10px;
    text-align: center;
    flex-wrap: wrap;
    align-items: flex-start;
}


.workout_entries > li  {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#weights_wo {
    width: 30px;
}
.workout_entries > li > input {
    background-color: black;
    color: white;
    text-align: center;
    box-sizing: border-box;
    border-style: none;
    font-size: 12px;
    width: 30px;
}

.exercise_row_flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 85%;

}
.workout_key {
    margin-top: 15px;
    font-size: 16px;
    font-style: normal;
}

.workout_exercise_name {
    font-size: 16px;
    margin-left: 5%;
    margin-top: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.submit_workout_button {
    background-color: black;
    color: white;
    font-size: 12px;
    border-style: none;
    padding-left: 20px;
}





a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }




.new_workout_entries {
    margin-top: 20px;
    width: max-content ;
    background-color: black;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #F5B718;
    border-radius: 20px;
    
}

.new_workout_entries > li {
    /* margin-left: 2%; */
    width:max-content;
    padding-top: 10px;

}

.new_submit_workout_button {
    margin-top: 20px;
    margin-left: 5%;
    
    background-color: black;
    color: white;
    font-size: 16px;
    border-style: none;
    

    
}



.new_workout_entries li div {
    font-size: 16px;
}


.new_workout_entries li div input {
    font-size: 16px;
    /* width: 5rem; */

}

#exercise_name {
    width: 12rem;
}

#num_sets {
    width: 5rem;
}

#num_reps {
    width: 5rem;
}

#weights {
    width: 5rem;
}
