{% extends "base.html" %}
{% block content %}
<main class="main_content">
    <h1><b>Your Fitness Routine</b></h1>
    <div class="workout_loop">
        {% for workout in all_workouts %}
        <div class="clickable_workout">
            <a href="/workouts/{{loop.index}}">
                <div class="workout">

                    {% for row in workout %}
                    {% if loop.index == 1 %}
                    <div>
                        <ul>
                            <li><b>{{ row.workout_group }} {{row.workout_varient}}</b></li>
                        </ul>
                    </div>
                    {% endif %}
                    <div>
                        <ul>
                            <li>{{ row.exercise_name }}</li>
                        </ul>
                    </div>
                    {% endfor %}
                    <br>

                </div>
            </a>
        </div>
        <br>


        {% endfor %}
    </div>


</main>

{% endblock %}