{% extends "base.html" %}
{% block content %}
<main class="main_content">
    <h1><b>Your Fitness Routine</b></h1>
    <div class="workout_loop">
    {% for workout in all_workouts %}
    <div class="workout">
        
        {% for row in workout %}
        <div>
            <ul>
                <li>{{ row.exercise_name }} </li>
            </ul>
        </div>
        {% endfor %}

        <a href="/workout/{{workout_num}}"><i class="fa-solid fa-arrow-right fa-2xl" style="color:#F5B718"></i></a>

    </div>
    <br>


    {% endfor %}
    </div>



    <!-- {% for workout in all_workouts %}
    <div class="workout">
        
        {% for row in workout %}
        <div>
            <ul>
                <li>{{ row.exercise_name }} </li>
            </ul>
        </div>
        {% endfor %}

        <a href="/"><i class="fa-solid fa-calendar fa-2xl" style="color:#F5B718"></i></a>

    </div>
    <br>


{% endfor %} -->


















</main>

{% endblock %}