{% extends "base.html" %}
{% block content %}
<main class="main_content">
    <h1><b>Your Workout History</b></h1>

    <header>
        <form class="delete-form" action="/history/delete" method="POST">
            <button id="delete_button" class="trash-button"><i class="fa-solid fa-xmark fa-3x" style="color:gold" aria-hidden="true" background-colour="black"></i></button>
        </form>

    </header>


    <ul>
        {% for row in record_to_display %}
        
        <div class="history_block">

            

            <li id="records_history">
               {{list_of_names[loop.index -1]}} <br> Set , kg : {{row}} 
              
            </li>
          




        </div>
        {% endfor %}
    </ul>


    {% endblock %}




